body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
 
   justify-content: center;
   perspective: 600px;

}
.build{
   position: absolute;
   width: 400px;
   height: 100%;
   bottom: 0;
  
}


.firstfloor{
   width: 100%;
   height: 63%;
   position:   absolute;
   /* background: rgb(128, 0, 119); */
      transform-style: preserve-3d;
      border: 2px solid black;
     transform: rotateX(95deg) rotateZ(10deg) ;
     bottom: 0;
     left: 0;
}

 .floor{
   position: absolute;
}
.firstfloor.second{
   bottom: 30%;
  


}

.firstfloor .bottom{
   width: 100%;
   height: 25%;
   bottom: 0;
z-index: 5;
transform: rotateX(-90deg);
transform-origin:50% 100% ;
}
.firstfloor .left{
   height: 100%;
   width: 25%;
   transform: rotateY(-90deg);
   background-color: red;
transform-origin:0% 50% ;
}
.firstfloor .right{
   right: 0;
   height: 100%;
   background-color: red;
   width: 25%;
   transform: rotateY(90deg);
transform-origin:100% 50% ;
}
.firstfloor .top{
   width: 100%;
   height: 25%;
   background-color: red;
   top: 0;
z-index: 5;
transform: rotateX(90deg);
transform-origin:50% 0% ;
}
.firstfloor .up ,.sfli{
  
   width: 110%;
   height: 110%;
   transform: translateZ(16.5vmin)translateX(-3.5vmin)translateY(-3.5vmin);
   background-color: black;
   transform-style:preserve-3d ;

}
.firstfloor .sfli{
  transform: translateZ(-0.5vmin)translateX(-3.5vmin)translateY(-3.5vmin)}
.firstfloor .up .balcon{
position: absolute;
 background-color: blue;
}
.firstfloor .up .font{
  
   bottom: 0;
   width: 100%;
   height: 10%;
   transform-origin:50% 100% ;
   transform: rotateX(-90deg);
}
.firstfloor .up .right{
   
   right: 0;
   height: 100%;
   width: 10%;
   transform: rotateY(90deg);
transform-origin:100% 50% ;
}
.firstfloor .up .left{
   height: 100%;
   width: 10%;
   transform: rotateY(-90deg);
transform-origin:0% 50% ;
}
.firstfloor .up .down {
   width: 100%;
   height: 10%;
   background-color: red;
   top: 0;
z-index: 5;
transform: rotateX(90deg);
transform-origin:50% 0% ;
}
.window{
   display: inline-block;
   width: 24%;
   height: 100%;
   background-color: #0004ff33;
}
.open{
   display: inline-block;
   width: 24%;
   height: 100%;
   opacity: 1;
   background-image: repeating-linear-gradient(
    0deg,
    purple 0% 5%,
    blue 5% 10%)
    
}
